#App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item {
  border: 1px solid rgb(43, 131, 226);
  color: white;
  text-align: center;
  padding: 5px;
  background-color: rgb(43, 131, 226);
}

.dragList {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, minmax(20%, 1fr));
}

.dropList {
  width: 75%;
  margin: 0 auto;
  height: 85vh;
  border: 2px solid rgb(43, 131, 226);
}

.inputControl {
  border: 1px solid rgb(43, 131, 226);
  padding: 10px;
}

.inputControl:focus-visible {
  outline-color: rgb(43, 131, 226);
}

.btn {
  cursor: pointer;
  border: 1px solid rgb(43, 131, 226);
  background-color: rgb(43, 131, 226);
  color: white;
  margin-left: 10px;
}

.btn:hover {
  background-color: white;
  color: rgb(43, 131, 226);
  border-color: rgb(43, 131, 226);
}

.controls {
  display: flex;
  justify-content: center;
}

h4 {
  text-align: center;
  color: rgb(43, 131, 226);
}

hr {
  margin-top: 30px;
  height: 3px;
  background: linear-gradient(to right, rgb(43, 131, 226), pink);
}
